.passFieldslogin {
    margin-top: 17px;
    margin-left: 28px;
}

.signinpage {
    display: flex;
    justify-content: space-between;
    margin-left: 158px;
    margin-right: 47px;
}



.signInForm {
    width: 601px;
    height: 723px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 45.4773px;
    margin-bottom: 75px;
}

.forgot {
    margin-left: 65px;
    margin-top: 10px;
}
@media (max-width:768px) {
    .signinpage {
        flex-direction: column;
        margin: 0 8px;

    }

    .signInForm {
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }

    .passFieldslogin {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 10px;

    }

}