.authFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(16, 16, 16, 0.92);
    height: 157px;
}

.sociaIcons {
    display: flex;
    gap: 19px;
}

.lines {
    color: #ffffff;
    font-weight: 500;
    margin: 0px;
}

.links {
    display: flex;
    gap: 21px;
    align-items: center;
}
@media (max-width:768px) {
    .authFooter {
        flex-direction: column;
        align-items: start;
        margin-top: 30px;
        height: auto;
    }

    .sociaIcons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px auto;
    }

    .lines {
        display: none;
    }

    .links {
        flex-direction: column;
        align-items: start;
        margin-left: 10px;
    }
}